# **Reto Pandas, Data 'Supermarket_sales.csv'**
*Dataft14_grupo_3*. 
## 12 preguntas, 30 puntos, deberán resolverlo en este mismo notebook y comentar el procedimiento. Mucho Exito! (Defensa grupal para validar la nota)

## 1.- Total de la resta de la columna 'Total' y 'Tax 5%'. Valor (2pts)

## 2.- Extraer el valor mínimo de la columna rating, con la hora y el día de fue la venta. Valor (2pts)

## 3.- Transformar los valores de la columna 'Gender' dejando solo la letra inicial del valor. Valor(2pts)

## 4.- ¿Cuál fue el dinero total que ingresó por las ventas en efectivo? Valor(2pts)

## 5.- Crear un nuevo dataframe solo con columnas de valor numerico (incluya el id del producto), crea una matriz de correlación, elimina la columna del valor nulo (2pts)

## 6.- En la Matriz anterior que columna tiene una correlación negativa. Valor (2ps)

## 7.- Agregar una nueva columna con el valor de la 'Raíz Cuadrada' de precio unitario. Valor (2pts)

## 8.- Crear un DataFrame solo con las variables categoricas y pasar todos los valores a mayuscula. Valor (2pts)

## 9.- Unir en un solo dataframe los 2 extraidos anteriormente, suma la cantidad de columnas con la cantidad de filas que quedaron. Valor (2pts)

## 10.- Traducir todas los nombres de columnas al español.  Valor (2pts)

## 11.- Crear una función que retorne si los valores de la columna cantidad son par o impar, guardar el resultado en una nueva columna. Valor (5pts)

## 12.- Sumar todos los valores de la columna total donde el valor de cantidad es par, y restarlo al impar. Valor (5pts)